<div class="container">
  <a class="btn btn-primary" href="/admin/navigation/create">Create Nav</a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Parent</th>
          <th>URI</th>
          <th>Type</th>
          <th>Scope</th>
          <th>Name</th>
          <th>Description</th>
          <th>Alias</th>
          <th>Priority</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="nav-item">
          <td class="navigation_id"></td>
          <td class="parent_id"></td>
          <td class="uri"></td>
          <td class="type"></td>
          <td class="scope"></td>
          <td class="name"></td>
          <td class="description"></td>
          <td class="alias"></td>
          <td class="priority"></td>
          <td class="isactive"></td>
          <td><a class="edit" href="/admin/navigation/edit/"><i class="fa fa-edit"></i></a></td>
          <td><a class="delete" href="/admin/navigation/delete/"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
