  <a class="btn btn-primary" href="/admin/news/create">Create News</a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Public</th>
          <th>Created</th>
          <th>Author</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="news-item">
          <td class="title">title</td>
          <td class="public">public</td>
          <td class="created">created</td>
          <td class="author">author</td>
          <td><a class="edit" href="/admin/news/edit/"><i class="fa fa-edit"></i></a></td>
          <td><a class="delete" href="/admin/news/delete/"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
