<div class="container">
  <a class="btn btn-primary" href="/admin/news/create">Create News</a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Public</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr class="news-item">
          <td class="title">title</td>
          <td class="public">public</td>
          <td class="created">created</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
