  <a class="btn btn-primary" href="/admin/talks/create">Create Talk</a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Duration</th>
          <th>Accepted</th>
          <th>Confirmed</th>
          <th>Scheduled</th>
          <th>Start Time</th>
          <th>Room</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="talks-item">
          <td class="title">title</td>
          <td class="author">author</td>
          <td><span class="duration">XX</span> min</td>
          <td class="accepted">yes/no</td>
          <td class="confirmed">yes/no</td>
          <td class="scheduled">yes/no</td>
          <td class="start_time"><a href="/talks/schedule/" class="schedule-link">date/time</a></td>
          <td class="room">Room</td>
          <td><a class="edit" href="/admin/talks/edit/"><i class="fa fa-edit"></i></a></td>
          <td><a class="delete" href="/admin/talks/delete/"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
