<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Size</th>
        <th>Count</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
      <tr class="shirt">
        <td class="size">Unknown</td>
        <td class="count">434</td>
        <td><span class="user"><a class="id" href="/admin/users/edit/">Name</a></span><span class="sep">, </span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>TOTAL</th>
        <td class="total_shirts">0</td>
      </tr>
    </tfoot>
  </table>
</div>
