  <a class="btn btn-primary" href="/admin/users/create">Create User</a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Nickname</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Roles</th>
          <th>Attendee</th>
          <th>Confirmed</th>
          <th>Guru Level</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="users-item">
          <td class="username">username</td>
          <td class="nickname"></td>
          <td class="first-name">created</td> 
          <td class="last-name">created</td>
          <td class="roles"><span class="role"><span class="name">Role</span><span class="sep">, </span></span></td>
          <td class="attendee">Yes/No</td>
          <td class="confirmed">Yes/No</td>
          <td class="guru_level"></td>
          <td><a class="edit" href="/admin/users/edit/"><i class="fa fa-edit"></i></a></td>
          <td><a class="delete" href="/admin/users/delete/"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
