  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Favourite Talks</h3>
    </div>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Stars</th>
          <th>Speaker</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="talks">
          <td class="stars">count</td>
          <td><a class="name" href="/speakers/">Name</a></td>
          <td><a class="title" href="/talks/">Title</a></td>
          <td><span class="duration">XX</span> min</td>
          <td class="start_time">1/1/2011</td>
        </tr>
      </tbody>
    </table>
  </div>
