<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Current photo
        </div>
        <div class="panel-body">
          <img class="photo img-responsive" src="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Upload a new photo
        </div>
        <div class="panel-body">
          <form method="post">
            <div class="form-group">
              <input name="photo" id="photo-upload" class="file" type="file" data-preview-file-type="image" data-upload-url="/profile/photo/upload" data-preview-file-icon="">
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
