<div class="jumbotron title-wrapper">
  <div class="container">
    <h1 class="page-title">nav title</h1>
    <span class="page-caption">nav description</span>
  </div>
</div>  

<div class="container">
  <div class="center-block">
    <h2 class="text-center action_name">Do something</h2>
    <div class="text text-center">Some text about what is going on.</div>
    <form class="text-center form-inline form" method="post" action="/register">
      <div class="form-group">
        <input class="form-control" type="email" name="username" size="30" required placeholder="Please enter your email address">
        <input class="btn btn-primary submit" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
