<div class="gdlr-page-title-wrapper gdlr-parallax-wrapper gdlr-title-normal" data-bgspeed="0.5">
  <div class="gdlr-page-title-overlay"></div>
  <div class="gdlr-page-title-container container" >
    <h1 class="gdlr-page-title">Call For Papers</h1>
    <span class="gdlr-page-caption">Requirement and guidance for submitting papers</span>
  </div>  
</div>  

<div class="content-wrapper">
  <div class="gdlr-content">
    <div class="with-sidebar-wrapper gdlr-type-no-sidebar">
      <section id="content-section-1">
        <div class="gdlr-color-wrapper gdlr-show-all gdlr-skin-stunning-text" style="background-color: #2d2d2d; padding-top: 90px;">
          <div class="container">
            <div class="eight columns">
              <div class="gdlr-stunning-text-ux gdlr-ux">
                <div class="gdlr-item gdlr-stunning-text-item type-normal"  style="margin-bottom: 30px;" >
                  <h2 class="stunning-text-title">Ready To Submit Your Paper?</h2>
                  <div class="stunning-text-caption gdlr-skin-content">
                    <p>All full paper submissions will be peer reviewed and evaluated based on originality, technical and/or research content/depth, correctness, relevance to conference, contributions, and readability. English is the official language of the conference. We welcome paper submissions.</p>
                    <p>It's enough to submit a short abstract, duration and title before conference.</p>
                    <p>Abstract should be max 200 words and duration can be 20 or 40 minutes.</p>
                  </div>
                </div>
              </div>
              <div class="gdlr-item gdlr-content-item" >
                <div role="form" class="wpcf7" id="wpcf7-f3360-o1" lang="en-US" dir="ltr">
                  <div class="screen-reader-response"></div>
                  <form name="" action="/?page_id=3344#wpcf7-f3360-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                      <input type="hidden" name="_wpcf7" value="3360" />
                      <input type="hidden" name="_wpcf7_version" value="4.1.2" />
                      <input type="hidden" name="_wpcf7_locale" value="en_US" />
                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3360-o1" />
                      <input type="hidden" name="_wpnonce" value="634c55d70a" />
                    </div>
                    <p>Your Name (required)<br />
                      <span class="wpcf7-form-control-wrap your-name">
                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
                      </span>
                    </p>
                    <p>Your Email (required)<br />
                      <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" />
                      </span>
                    </p>
                    <p>Talk title<br />
                      <span class="wpcf7-form-control-wrap your-subject">
                        <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
                      </span>
                    </p>
                    <p>Abstract (up to 200 words)<br />
                      <span class="wpcf7-form-control-wrap your-message">
                        <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                      </span>
                    </p>
                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="four columns" >
              <div class="gdlr-image-frame-item gdlr-item"  >
                <div class="gdlr-frame frame-type-none"  >
                  <div class="gdlr-image-link-shortcode" ></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  <div class="clear" ></div>
</div>
