<div class="content-wrapper">
  <div class="gdlr-content">
    <div class="with-sidebar-wrapper gdlr-type-no-sidebar">
      <section id="content-section-1">
        <div class="section-container container">
          <div class="gdlr-image-frame-item gdlr-item">
            <div class="gdlr-frame frame-type-none">
              <div class="gdlr-image-link-shortcode">
                <img src="/img/perl-dancer-homepage-logo.png" alt="" width="851" height="200">
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="gdlr-session-counter-item gdlr-item">
            <!-- countdown fragment -->
          </div>
          <div class="clear"></div>
          <div class="gdlr-subscribe-item gdlr-item">
            <h4 class="gdlr-subscribe-title">Subscribe for updates</h4>
            <div class="gdlr-newsletter-subscribe">
              <div class="newsletter newsletter-subscription">
                <form id="newsletter-subscribe" method="post" action="/subscribe">
                  <input class="newsletter-email" type="email" name="ne" size="30" required placeholder="Please fill your email" />
                  <input class="newsletter-submit gdlr-button with-border" type="submit" value="Subscribe"/>
                </form>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="gdlr-item-title-wrapper gdlr-item pos-left ">
            <div class="gdlr-item-title-head">
              <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">Speakers</h3>
              <div class="clear"></div>
            </div>
            <div class="gdlr-item-title-divider"></div>
          </div>
          <div class="speaker-item-wrapper">
            <!-- fragments/speakers.html -->
          </div>
          <div class="clear"></div>
          <div class="session-item-wrapper">
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="gdlr-item-title-wrapper gdlr-item pos-left">
            <div class="gdlr-item-title-head">
              <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">Location</h3>
              <div class="clear"></div>
            </div>
          </div>
          <div class="gdlr-item gdlr-content-item" >
            <div class="gdlr-location-item" >
              <div class="gdlr-location-title">Training Venue - Amerikahaus </div>
              <div class="gdlr-location-place">
                <i class="fa fa-location-arrow" ></i>2 Friedrich-Schmidt-Platz, 1010 Wien, Austria
              </div>
            </div>
            <div id="wgmpmap"></div>
          </div>
          <div class="clear"></div>
          <div class="gdlr-item-title-wrapper gdlr-item pos-left ">
            <div class="gdlr-item-title-head">
              <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">Register Now!</h3>
              <div class="clear"></div>
            </div>
            <div class="gdlr-item-title-caption gdlr-skin-info">Hurry up! Early bird tickets are on sale only until July 15th</div>
          </div>
          <div class="ticket-item-wrapper"  >
            <!-- tickets fragment -->
          </div>
          <div class="clear"></div>
        </div>
      </section>
    </div>
  </div>
  <div class="clear" ></div>
</div>
