<div class="homepage">

  <div class="container">
    <img src="/img/perl-dancer-homepage-logo.png" class="center-block img-responsive">
  </div>

  <div class="container">
    <div class="text-center"><h1>Slider to go here</h1></div>
  </div>

  <div class="container">
    <div class="center-block">
      <h2 class="text-center subscribe">Register now!</h2>
      <form class="text-center form-inline" method="post" action="/register">
        <div class="form-group">
          <input class="form-control" type="email" name="username" size="30" required placeholder="Please enter your email address">
          <input class="btn btn-primary" type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

  <div class="container text-center">
    <h2>What people say about our conference</h2>
    <div class="row">
      <div class="col-md-4">
        <blockquote>
          <p>Rare opportunity to meet web developers who really work in the trenches. I am surely coming again!</p>
          <footer>Bill Carr <cite>CEO, Bottlenose</cite></footer>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p>I am coming for the third year. It feels almost at home. I am looking forward to Vienna this year!</p>
          <footer>Jure Kodzoma <cite>Informa Studio</cite></footer>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p>First time I went because it was close by. Now I am ready to travel across the world just to go again. </p>
          <footer>Sam Batschelet <cite>WBA, NY, USA</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">Location</h2>
    <div class="location">
      <div class="location-title">Training Venue - Amerikahaus</div>
      <div>
        <i class="fa fa-location-arrow"></i> <span class="location-address">2 Friedrich-Schmidt-Platz, 1010 Wien, Austria</span>
      </div>
      <div id="wgmpmap"></div>
    </div>
  </div>

</div>
