<div class="jumbotron title-wrapper">
  <div class="container">
   <h1 class="page-title">Talks</h1>
   <span class="page-caption">Schedule draft</span>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary talks">
    <div class="panel-heading">
      <h3 class="panel-title">day</h3>
      <span class="date">date</span>
    </div>
    <div class="panel-body scheduled-talk">
      <div class="row">
        <div class="col-sm-3">
          <div>
            <i class="fa fa-clock-o"></i> <span class="duration_display">when</span>
          </div>
          <div class="session-info session-location">
            <i class="fa fa-location-arrow"></i> <span class="location">where</span>
          </div>
          <div>
            <i class="fa fa-user" ></i> <a class="speaker-link" href="/speakers/" >Speaker Name</a>
          </div>
        </div>
        <div class="col-sm-1">
          <a class="photo-link" href="/speakers/" ><img class="img-responsive img-rounded photo"></a>
        </div>
        <div class="col-sm-8">
          <h4><a class="talk-link" href="/talks/">Talk Title</a></h4>
          <div class="short_abstract">Short extract from abstract</div>
        </div>
      </div>
    </div>
  </div>
</div>
