<div class="jumbotron title-wrapper">
  <div class="container">
    <h1 class="name">nav title</h1>
    <span class="page-caption"><span class="company">Booking.com</span>, <span class="city">Amsterdam</span>, <span class="country">Netherlands</span></span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <img class="photo img-responsive" src="/img/people/peter-mottram.jpg">
        <h4>Andrew Solomon</h4>
        <div><span class="company">Booking.com</span>, <span class="city">Amsterdam</span>, <span class="country">Netherlands</span></div>
      </div>                
    </div>
    <div class="col-md-8">
      <h4>Biography</h4>
      <div>
        <p class="bio">Software developer and project leader with over 15 years experience. Applications include algebraic and optimisation algorithms, web services and virtual machines in Perl, Java and C within a Unix environment. Managing projects using both in-house and contract developers.</p>
      </div>
      <h4 class="has_talks">Talks by <span class="name">Andrew Solomon</span></h4>
      <div class="panel panel-primary talks">
        <div class="panel-heading">
          <h4 class="panel-title"><a class="talk-link" href="/talks/">Web Development using Dancer</a></h4>
        </div>
        <div class="panel-body">
          <div class="session-info">
            <div>
              <i class="fa fa-clock-o" ></i> <span class="start_time"></span> <span class="duration_display">09:00 - 13:00</span>
            </div>
            <div>
              <i class="fa fa-location-arrow"></i> <span class="location">Location</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
