<div class="jumbotron title-wrapper">
  <div class="container">
    <h1 class="page-title">nav title</h1>
    <span class="page-caption">nav description</span>
  </div>
</div>

<div class="container">
  
  <h2>Why sponsor?</h2>

  <p>Sponsor the Perl::Dancer conference to get a real community audience for Perl and Dancer related topics and present your company or association.</p>

  <p>Apart from the sponsorship benefits, you will get in touch with community directly and meet the developers in person. Below we have outlined a few sponsorship options but we are open to additional custom proposals. This is a wonderful opportunity for your business to cost effectively target a very specific and technical market group. Contact us today and let one of our team members work out an effective plan perfect for any budget.</p>

  <ul>
    <li><strong>Bronze Level Sponsor:</strong> Web logo with link on event homepage and other web based marketing and email blasts. - €200.00</li>
    <li><strong>Silver Level Sponsor:</strong> Bronze level sponsorship and company banner in conference room. - €350.00</li>
    <li><strong>Gold Level Sponsor:</strong> Silver level sponsorship and company logo on splash screen for presentation videos. - €500.00</li>
    <li><strong>Platinum Sponsor:</strong> Gold level sponsorship and company logo predominantly placed on event t-shirt. - €950.00</li>
    <li><strong>Diamond Sponsor:</strong> Platinum level sponsorship, accommodations during event and up to 4 all access passes. - €3500.00</li>
  </ul>

  <p>Sponsor request by email: <a href="mailto:2015@perl.dance">2015@perl.dance</a></p>
</div>
