<div class="jumbotron title-wrapper">
  <div class="container">
   <h1 class="page-title">Talks</h1>
   <span class="page-caption">Schedule draft</span>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="/talks">List of talks</a><span class="has_tag"> with tag: <span class="tag">tag</span></span></h3>
      <div class="text-center">Submitted talks: <span class="talks_submitted">0</span></div>
      <div class="text-center">Accepted talks: <span class="talks_accepted">0</span></div>
    </div>
    <div class="panel-body">
      <h3 class="panel-title">Tags</h3>
      <div id="tagcloud" class="cloud"></div>
    </div>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Speaker</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="talks">
          <td><a class="name" href="/speakers/">Name</a></td>
          <td><a class="title" href="/talks/">Title</a></td>
          <td><span class="duration">XX</span> min</td>
          <td class="start_time">1/1/2011</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
