<div class="gdlr-page-title-wrapper gdlr-parallax-wrapper gdlr-title-normal"  data-bgspeed="0.5" >
  <div class="gdlr-page-title-overlay"></div>
  <div class="gdlr-page-title-container container" >
    <h1 class="gdlr-page-title">Schedule</h1>
    <span class="gdlr-page-caption">Schedule draft. Contains talks confirmed so far.</span>
  </div>  
</div>  

<div class="content-wrapper">
  <div class="gdlr-content">
    <div class="with-sidebar-wrapper gdlr-type-no-sidebar">
      <section id="content-section-1" >
        <div class="section-container container">
          <div class="session-item-wrapper"  style="margin-bottom: 75px;"  >

            <div class="gdlr-session-item gdlr-tab-session-item gdlr-item" >
              <div class="gdlr-session-item-head">
                <div class="gdlr-session-item-head-info gdlr-active" data-tab="gdlr-tab-1">
                  <div class="gdlr-session-head-day"></div>
                  <div class="gdlr-session-head-date">19 Oct 2012</div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="scheduled-talk gdlr-session-item-tab-content gdlr-tab-1 gdlr-active">
                <div class="gdlr-session-item-content-wrapper">
                  <div class="gdlr-session-item-divider"></div>
                  <div class="gdlr-session-item-content-info">
                    <div class="gdlr-session-info">
                      <div class="session-info session-time">
                        <i class="fa fa-clock-o" ></i><span class="duration_display"></span>
                      </div>
                      <div class="session-info session-location">
                        <i class="fa fa-location-arrow" ></i>Location
                      </div>
                      <div class="session-info session-speaker">
                        <div class="session-speaker-inner">
                          <i class="fa fa-user" ></i>
                          <div class="session-speaker-list">
                            <div class="session-speaker-list-item">
                              <a class="speaker-link" href="/speaker/" >Speaker Name</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="gdlr-session-item-content" >
                    <h3 class="gdlr-session-item-title"><a class="talk-link" href="/talks/">Talk Title</a></h3>
                    <div class="gdlr-session-item-excerpt">Short extract from abstract
                      <div class="clear"></div>
                      <a href="/talks/" class="gdlr-info-font excerpt-read-more">Read More</a>
                    </div>
                    <div class="gdlr-session-thumbnail-wrapper">
                      <div class="gdlr-speaker-thumbnail">
                        <div class="gdlr-speaker-thumbnail-inner">
                          <a href="/speakers/" ><img src="" alt="" width="150" height="150" /></a>
                        </div>
                        <div class="gdlr-speaker-thumbnail-title">Speaker Name</div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>

          </div>
          <div class="clear"></div>
        </div><!--section-container-->
      </section>
    </div>
  </div><!--gdlr-content-->
  <div class="clear" ></div>
</div>
