<div class="gdlr-page-title-wrapper gdlr-parallax-wrapper gdlr-title-large-center"  data-bgspeed="0.5" >
  <div class="gdlr-page-title-overlay"></div>
  <div class="gdlr-page-title-container container" >
    <h1 class="gdlr-page-title">Tickets</h1>
    <span class="gdlr-page-caption">Get Your Seat Before It's Too Late</span>
  </div>  
</div>  

<div class="content-wrapper">
  <div class="gdlr-content">
    <div class="with-sidebar-wrapper gdlr-type-no-sidebar">
      <section id="content-section-1" >
        <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 40px; padding-bottom: 20px; ">
          <div class="container">
            <div class="ticket-item-wrapper"  >
              <div class="ticket-item-holder">
                <div class="clear"></div>
                <div class="six columns">
                  <div class="gdlr-item gdlr-ticket-item">
                    <div class="gdlr-ticket-head">
                      <div class="gdlr-ticket-head-title">Conference only</div>
                      <div class="gdlr-ticket-head-price">159.00 EUR</div>
                    </div>
                    <div class="gdlr-ticket-content gdlr-info-font">
                      <p>Valid for 2 conference days</p>
                      <p>21 and 22 of October</p>
                      <p>Entrance to all talks</p>
                      <p>Includes social event</p>
                      <p>Includes free T-Shirt</p>
                    </div>
                    <div class="gdlr-lightbox-form" id="gdlr-form-1" >
                      <div class="gdlr-paypal-form-wrapper">
                        <h3 class="gdlr-paypal-form-head">You are booking for : <span>Conference only</span></h3>
                        <form class="gdlr-paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" data-ajax="http://perl.dance/wp-admin/admin-ajax.php" >
                          <div class="gdlr-paypal-fields">
                            <div class="six columns">
                              <span class="gdlr-head">Name *</span>
                              <input class="gdlr-require" type="text" name="gdlr-name">
                            </div>
                            <div class="six columns gdlr-right">
                              <span class="gdlr-head">Last Name *</span>
                              <input class="gdlr-require" type="text" name="gdlr-last-name">
                            </div>
                            <div class="clear"></div>
                            <div class="six columns">
                              <span class="gdlr-head">Email *</span>
                              <input class="gdlr-require gdlr-email" type="text" name="gdlr-email">
                            </div>
                            <div class="six columns gdlr-right">
                              <span class="gdlr-head">Phone</span>
                              <input type="text" name="gdlr-phone">
                            </div>
                            <div class="clear"></div>
                            <div class="six columns"><span class="gdlr-head">Address</span>
                              <textarea name="gdlr-address"></textarea>
                            </div>
                            <div class="six columns gdlr-right"><span class="gdlr-head">Additional Note</span>
                              <textarea name="gdlr-additional-note"></textarea>
                            </div>    
                            <div class="clear"></div>
                          </div>
                          <input type="hidden" name="cmd" value="_xclick">
                          <input type="hidden" name="business" value="jure.kodzoman@informastudio.com">
                          <input type="hidden" name="item_name" value="Conference only">
                          <input type="hidden" name="ticket_id" value="3282">
                          <input type="hidden" name="invoice" value="">
                          <input type="hidden" name="amount" value="">    
                          <input type="hidden" name="return" value="http://perl.dance/?ticket=one-day-pass">
                          <input type="hidden" name="no_shipping" value="0">
                          <input type="hidden" name="no_note" value="1">
                          <input type="hidden" name="currency_code" value="EUR">
                          <input type="hidden" name="lc" value="AU">
                          <input type="hidden" name="bn" value="PP-BuyNowBF">
                          <input type="hidden" class="gdlr-paypal-action" name="action" value="">
                          <input type="hidden" name="security" value="66bccbcf68">
                          <div class="gdlr-notice email-invalid" >Invalid Email Address </div>
                          <div class="gdlr-notice require-field" >Please fill all required fields</div>
                          <div class="gdlr-notice alert-message" ></div>
                          <div class="gdlr-paypal-loader" ></div>
                          
                          <input type="button" class="gdlr-button-mail gdlr-button with-border" value="Book By E-Mail And We Will Contact You Back" >
                          <div class="gdlr-paypal-or">
                            <span class="gdlr-or-text">OR</span>
                          </div>
                          <input type="button" class="gdlr-button-paypal gdlr-button with-border" value="Check Out Via PayPal" >
                          <div class="clear"></div>
                        </form>
                      </div>
                    </div>
                    <a class="gdlr-ticket-button" href="#gdlr-form-1" data-rel="fancybox" data-fancybox-type="inline" >Book Now</a>
                  </div>
                </div>
                <div class="six columns">
                  <div class="gdlr-item gdlr-ticket-item">
                    <div class="gdlr-ticket-head">
                      <div class="gdlr-ticket-head-title">Conference + Training</div>
                      <div class="gdlr-ticket-head-price">249.00 EUR</div>
                      <div class="gdlr-ticket-head-featured gdlr-info-font">Featured!</div>
                    </div>
                    <div class="gdlr-ticket-content gdlr-info-font">
                      <p>Four Day Full Access</p>
                      <p>Includes all training sessions</p>
                      <p>Includes all conference days</p>
                      <p>Includes social event</p>
                      <p>Includes free T-Shirt</p>
                    </div>
                    <div class="gdlr-lightbox-form" id="gdlr-form-2" >
                      <div class="gdlr-paypal-form-wrapper">
                        <h3 class="gdlr-paypal-form-head">You are booking for : <span>Conference + Training</span></h3>
                        <form class="gdlr-paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" data-ajax="http://perl.dance/wp-admin/admin-ajax.php" >
                          <div class="gdlr-paypal-fields">
                            <div class="six columns">
                              <span class="gdlr-head">Name *</span>
                              <input class="gdlr-require" type="text" name="gdlr-name">
                            </div>
                            <div class="six columns gdlr-right">
                              <span class="gdlr-head">Last Name *</span>
                              <input class="gdlr-require" type="text" name="gdlr-last-name">
                            </div>
                            <div class="clear"></div>
                            <div class="six columns">
                              <span class="gdlr-head">Email *</span>
                              <input class="gdlr-require gdlr-email" type="text" name="gdlr-email">
                            </div>
                            <div class="six columns gdlr-right">
                              <span class="gdlr-head">Phone</span>
                              <input type="text" name="gdlr-phone">
                            </div>    
                            <div class="clear"></div>
                            <div class="six columns">
                              <span class="gdlr-head">Address</span>
                              <textarea name="gdlr-address"></textarea>
                            </div>
                            <div class="six columns gdlr-right">
                              <span class="gdlr-head">Additional Note</span>
                              <textarea name="gdlr-additional-note"></textarea>
                            </div>    
                            <div class="clear"></div>
                          </div>
                          <input type="hidden" name="cmd" value="_xclick">
                          <input type="hidden" name="business" value="jure.kodzoman@informastudio.com">
                          <input type="hidden" name="item_name" value="Conference + Training">
                          <input type="hidden" name="ticket_id" value="3281">
                          <input type="hidden" name="invoice" value="">
                          <input type="hidden" name="amount" value="">    
                          <input type="hidden" name="return" value="http://perl.dance/?ticket=four-day-passes">
                          <input type="hidden" name="no_shipping" value="0">
                          <input type="hidden" name="no_note" value="1">
                          <input type="hidden" name="currency_code" value="EUR">
                          <input type="hidden" name="lc" value="AU">
                          <input type="hidden" name="bn" value="PP-BuyNowBF">
                          <input type="hidden" class="gdlr-paypal-action" name="action" value="">
                          <input type="hidden" name="security" value="66bccbcf68">
                          <div class="gdlr-notice email-invalid" >Invalid Email Address </div>
                          <div class="gdlr-notice require-field" >Please fill all required fields</div>
                          <div class="gdlr-notice alert-message" ></div>
                          <div class="gdlr-paypal-loader" ></div>
                          
                          <input type="button" class="gdlr-button-mail gdlr-button with-border" value="Book By E-Mail And We Will Contact You Back" >
                          <div class="gdlr-paypal-or">
                            <span class="gdlr-or-text">OR</span>
                          </div>
                          <input type="button" class="gdlr-button-paypal gdlr-button with-border" value="Check Out Via PayPal" >
                          <div class="clear"></div>
                        </form>
                      </div>
                    </div>
                    <a class="gdlr-ticket-button" href="#gdlr-form-2" data-rel="fancybox" data-fancybox-type="inline" >Book Now</a>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="gdlr-title-item">
              <div class="gdlr-item-title-wrapper gdlr-item pos-center ">
                <div class="gdlr-item-title-head">
                  <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">Hurry Up!</h3>
                  <div class="clear"></div>
                </div>
                <div class="gdlr-item-title-divider"></div>
                <div class="gdlr-item-title-caption gdlr-skin-info">We have only 60 seats available!</div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="gdlr-session-counter-item gdlr-item">
              <!--countdown fragment-->
            </div>
          </div>
          <div class="clear"></div>
          <div class="gdlr-item-title-wrapper gdlr-item pos-center">
            <div class="gdlr-item-title-head">
              <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-medium">What people say about our conference</h3>
              <div class="clear"></div>
            </div>
          </div>
          <div class="gdlr-testimonial-item-wrapper">
            <div class="clear"></div>
            <div class="four columns">
              <div class="gdlr-item gdlr-testimonial-item plain-style">
                <div class="gdlr-ux gdlr-testimonial-ux">
                  <div class="testimonial-item">
                    <div class="testimonial-content gdlr-skin-content">
                      <p>Rare opportunity to meet web developers who really work in the trenches. I am surely coming again!</p>
                    </div>
                    <div class="testimonial-info">
                      <span class="testimonial-author gdlr-skin-link-color">Bill Carr</span>
                      <span class="testimonial-position gdlr-skin-info"><span>, </span>Bottlenose, CEO</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="four columns">
              <div class="gdlr-item gdlr-testimonial-item plain-style">
                <div class="gdlr-ux gdlr-testimonial-ux">
                  <div class="testimonial-item">
                    <div class="testimonial-content gdlr-skin-content">
                      <p>I am coming for the third year. It feels almost at home. I am looking forward to Vienna this year!</p>
                      </div>
                      <div class="testimonial-info">
                        <span class="testimonial-author gdlr-skin-link-color">Jure Kodzoman</span>
                        <span class="testimonial-position gdlr-skin-info"><span>, </span>Informa Studio</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="four columns">
                <div class="gdlr-item gdlr-testimonial-item plain-style">
                  <div class="gdlr-ux gdlr-testimonial-ux">
                    <div class="testimonial-item">
                      <div class="testimonial-content gdlr-skin-content">
                        <p>First time I went because it was close by. Now I am ready to travel across the world just to go again. </p>
                      </div>
                      <div class="testimonial-info">
                        <span class="testimonial-author gdlr-skin-link-color">Sam Batschelet</span>
                        <span class="testimonial-position gdlr-skin-info"><span>, </span>WBA, NY, USA</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  <div class="clear" ></div>
</div>
