<h3>Details</h3>
<table class="table">
  <tr>
    <th>Email</th>
    <td class="email">user@example.com</td>
  </tr>
  <tr>
    <th>Payment Method</th>
    <td class="order_payment_method">payment</td>
  </tr>
</table>
<table class="table table-hover">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="orderline">
      <td class="sku">sku</td>
      <td class="name">name</td>
      <td class="price">$0.00</td>
      <td class="quantity">0</td>
      <td class="subtotal">$0.00</td>
    </tr>
  </tbody>
</table>
