<p>This email confirms that your order was received on <strong class="order_date">order date</strong> and that payment was accepted.</p>
<h4>Order Details</h4>
<table class="table">
  <tr>
    <th>Order Number</th>
    <td class="order_number">0000</td>
  </tr>
  <tr>
    <th>Email Address</th>
    <td class="email">user@example.com</td>
  </tr>
</table>
<table class="table table-hover">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="orderline">
      <td class="sku">sku</td>
      <td class="name">name</td>
      <td class="price">$0.00</td>
      <td class="quantity">0</td>
      <td class="subtotal">$0.00</td>
    </tr>
    <tr>
      <td colspan="4" class="text-right">TOTAL:</td>
      <td class="total_cost">$0.00</td>
    </tr>
  </tbody>
</table>

<a class="link" href="/">View Order Online</a>
<p>We look forward to meeting you at the conference.</p>
