  <div class="page-not-found-block" >
    <div class="page-not-found-icon"><i class="fa fa-frown-o"></i></div>
    <div class="page-not-found-title">Error 404</div>
    <div class="page-not-found-caption">
      Sorry, we couldn't find the page you're looking for.
    </div>
    <!--div class="page-not-found-search">
      <div class="gdl-search-form">
        <form method="get" id="searchform" action="http://perl.dance/">
          <div class="search-text" id="search-text">
            <input type="text" name="s" id="s" autocomplete="off" data-default="Type keywords..." />
          </div>
          <input type="submit" id="searchsubmit" value="" />
          <div class="clear"></div>
        </form>
      </div>
    </div-->
  </div>
