  <div class="well">
  <h2 class="stunning-text-title">Call for Papers</h2>
  <div>
    <p>
    We are now accepting proposals for talks in English or German. The preferred language is English due to our international guests.
    </p>
    <p>
    Each presentation will last either 20 or 40 minutes after which there will be time for questions.
    </p>
    <p>The submission deadline is August 30th, midnight CET. Talks are reviewed and possibly accepted as we receive them.
    </p>
  </div>
  <h2 class="stunning-text-title">Suggested Topics</h2>
  <div>
    <p>
    Talks may be on any topic related to Perl, Dancer or DBIx::Class in some way
    or of general interest for IT people.
    </p>
    <p>
    Possible topic areas include:
    </p>
    <ul>
      <li>Modern Perl, Best Practices, Moo/Moose</li>
      <li>Dancer (Applications, Plugins, Engines, Deployment)</li>
      <li>DBIx::Class (Schema, Components, Deployment)</li>
      <li>Perl "Products" (WebGUI CMS, ...)</li>
      <li>eCommerce (technical and business experiences).</li>
      <li>Application security</li>
    </ul>
    <p>
    Of course, we're happy to receive proposals for talks on other Perl /
    Dancer related topics as well.
    </p>
  </div>    
  <div class="text-center">
    <a class="btn btn-primary" href="/profile/talk/create">Submit a talk now!</a>
  </div>
  </div>
