<div class="homepage">

  <div class="container spacing-bottom-small">
    <img src="/img/perl-dancer-homepage-logo.png" class="center-block img-responsive">
  </div>

  <div class="container main-carousel-container">
    <div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="7500">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="slider-item item active">
          <img class="img-responsive" src="/img/perldance-2014-sawyerx.jpg" alt="">
          <div class="carousel-caption">
            <p>Perl Dancer Conference 2014</p>
          </div>
        </div>
        <div class="slider-item item">
          <img class="img-responsive" src="/img/perldance-2014-modern-tech.jpg" alt="">
          <div class="carousel-caption">
            <p>Perl Dancer Conference 2014</p>
          </div>
        </div>
        <div class="slider-item item">
          <img class="img-responsive" src="/img/perldance-2014-security.jpg" alt="">
          <div class="carousel-caption">
            <p>Perl Dancer Conference 2014</p>
          </div>
        </div>
        <div class="slider-item item">
          <img class="img-responsive" src="/img/perldance-2014-organisers.jpg" alt="">
          <div class="carousel-caption">
            <p>Perl Dancer Conference 2014</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
    </div>
  </div>

  <div class="has_news">
    <!-- new goes here if there is any - news.html -->
  </div>

  <div class="container register-container">
    <div class="center-block">
      <h1 class="text-center subscribe">Register now!</h1>
      <form class="text-center form-inline" method="post" action="/register">
        <div class="form-group">
          <input class="form-control" type="email" name="username" size="30" required placeholder="Please enter your email address">
          <input class="btn btn-primary" type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center subscribe">Speakers</h1>
    <div class="speaker-item-wrapper">
      <!-- fragments/speakers.html -->
    </div>
  </div>

  <div class="container text-center">
    <h1>What people say about our conference</h1>
    <div class="row">
      <div class="col-md-4">
        <blockquote>
          <p>Rare opportunity to meet web developers who really work in the trenches. I am surely coming again!</p>
          <footer>Bill Carr <cite>CEO, Bottlenose</cite></footer>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p>I am coming for the third year. It feels almost at home. I am looking forward to Vienna this year!</p>
          <footer>Jure Kodžoman <cite>Informa Studio</cite></footer>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p>First time I went because it was close by. Now I am ready to travel across the world just to go again. </p>
          <footer>Sam Batschelet <cite>WBA, NY, USA</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center">Location</h1>

    <div class="location pull-right">
      <div class="location-title">Conference Venue - <a href="http://www.hotelschani.com/1/home/" target="_blank">Hotel Schani Wien</a> 21/22 Oct</div>
      <div>
        <i class="fa fa-location-arrow"></i> <span class="location-address">Karl-Popper-Straße 22, 1100 Vienna, Austria</span>
      </div>
    </div>

    <div class="location">
      <div class="location-title">Training Venue - Amerikahaus - 19/20 Oct</div>
      <div>
        <i class="fa fa-location-arrow"></i> <span class="location-address">Friedrich-Schmidt-Platz 2, 1010 Vienna, Austria</span>
      </div>
    </div>

    <div id="map" class="clearfix"></div>

  </div>

</div>
