<div class="news-container">
    <h1 class="text-center">News</h1>
    <div class="panel panel-default news-item">
      <div class="panel-heading">
        <h4>
          <div class="created text-muted pull-right">date</div>
          <div class="has_uri">
            <a class="title" href="/news/">title</a>
          </div>
          <div class="no_uri">
            <div class="title">title</div>
          </div>
        </h4>
        <p class="author text-muted">Anonymous</p>
      </div>
      <div class="panel-body content">
      </div>
    </div>
    <h4 class="text-center all-news"><a href="/news">News Archive</a></h4>
</div>
