<div class="container">
  <div class="row center-block">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading action_name">
          Action name
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="post">
            <div class="form-group password_input">
              <label for="passwordInput" class="col-sm-4 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="passwordInput" required placeholder="Password" name="password">
                <div class="help-block password_error"></div>
              </div>
            </div>
            <div class="form-group confirm_password_input">
              <label for="confirmPasswordInput" class="col-sm-4 control-label">Confirm Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="confirmPasswordInput" required placeholder="Confirm Password" name="confirm_password">
                <div class="help-block confirm_password_error"></div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
