<div class="container">
  <div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <h1 class="product-title">Organic gift basket for babies</h1>

      <p class="short-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
      <div class="well product-order-box">
        <div class="row">
         <form id="product_form" action="/cart" method="post">
          <div class="col-md-6">
              <div class="variant-error form-error">
                Sorry, the current selection isn't available.
                Please choose a different combination.
              </div>

              <div class="variant-info">
                <div class="product-attributes-list">
                  <div class="form-group product-attributes-item">
                    <label class="product-attributes-title">Color</label>
                    <select name="color" class="form-control product-attributes-name">
                      <option value="white" class="product-attributes-values-item product-attributes-value">White</option>
                    </select>
                  </div>
                  <div class="form-group product-attributes-item">
                    <label class="product-attributes-title">Size</label>
                    <select name="size" class="form-control product-attributes-name">
                      <option value="small" class="product-attributes-values-item product-attributes-value">S</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" name="quantity" value="1">

              </div>
              <div class="product-action">
                <button class="btn btn-success btn-large">Add to cart</button>
              </div>
          </div>
          <div class="fragment-product-price-and-stock"/>
         </form>
        </div>
       <!--  end .row  -->
      </div>
      <!--  end .product-order-box  -->
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
