<div class="container">
  <div class="jumbotron">
  <p>This is your personal page. From here you can manage everything regarding your participation in <span class="conference_name">Conference Name</span>.</p>
  <p>You can:</p>
  <ul class="update-profile">
    <li class="profile"><a class="link" href="/">Update your information</a></li>
  </ul>
  <p>View/edit your talks:</p>
  <ul class="talks">
    <li class="talk"><a class="talk-link" href="/profile/talk/">Talk title</a> <span class="accepted">(Accepted)</span></li>
  </ul>
  <p><a href="/profile/talk/create">Submit a talk</a></p>
  <p><a href="/logout">Logout</a></p>
</div>
</div>
