<div class="container">
  <h2>Update Profile</h2>
  This is your personal page. From here you can manage everything regarding your participation in <span class="conference_name">Conference Name</span>.
  <p>You can:</p>
  <ul class="update-profile">
    <li class="profile"><a class="link" href="/">Update your information</a></li>
  </ul>
  <p>View/edit your talks <!--(accepted talks are shown in <b>bold</b> type)-->:</p>
  <ul class="talks">
    <li class="talk"><a class="talk-link" href="/">Talk title</a></li>
  </ul>
  <p><a href="/talks/submit">Submit a talk</a></p>
  <p><a href="/logout">Logout</a></p>
</div>
