  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Talks Schedule Overview</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Dates</th><th>Location</th><th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mon 19th - Tue 20th October 2015</td>
          <td>Amerikahaus</td>
          <td>Two days of Dancer and DBIx::Class training</td>
        </tr>
        <tr>
          <td>Wed 21st - Thu 22nd October 2015</td>
          <td>Hotel Schani Wien</td>
          <td>Perl Dancer Conference 2015</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
     <div class="panel-heading">
       <h2 class="panel-title">Conference Days</h2>
     </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading no-border">
      <ul class="nav nav-pills nav_days">
        <li role="presentation" class="nav_day"><a class="link" href="">Day</a></li>
      </ul>
      <h4 class="date">Date</h4>
    </div>
    <div class="panel-body no_rows">
      Schedule for this day has not yet been finalised.
    </div>
    <div class="table-responsive has_rows">
      <table class="table table-bordered schedule">
        <thead>
          <tr>
            <th>Time</th>
            <th class="room-name"><span class="name">RoomName</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="timeslot">
            <td class="time"></td>
            <td class="slot">
              <span class="is_talk">
                <span class="show-stars"><span class="remove_talk"><a href="/talks/remove/" class="picked"><img src="/img/picked.gif" title="remove from personal schedule"></a></span><span class="add_talk"><a href="/talks/add/" class="unpicked"><img src="/img/unpicked.gif" title="add to personal schedule"></a></span> </span>
                <a class="author_uri" href="/speakers/"><span class="author_name">Author</span><span class="author_nickname"> (NickName)</span></a> - 
                <a class="title" href="/talks/">Talk Name</a>
                <span class="has_slides"> <a class="url text-muted">[slides]</a></span>
                <span class="has_video"> <a target="_blank" class="video_url text-muted">[video]</a></span>
                <span class="duration"> (10 min)</span><span> </span>
                <span class="stars">X</span><img src="/img/picked.gif">
              </span>
              <span class="is_event">
                <a class="title" href="/events/">Event Name</a>
                <span class="duration"> (10 min)</span>
              </span>
              <span class="is_empty">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default show-unscheduled-events">
    <div class="panel-heading">
      <h2 class="panel-title">Events with no start time and/or room</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Start Time</th>
          <th>Room</th>
        </tr>
      </thead>
      <tbody>
        <tr class="unscheduled_event">
          <td><a class="title" href="/talks/">Title</a></td>
          <td><span class="duration">XX</span> min</td>
          <td class="start_time"></td>
          <td class="room"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default show-unscheduled-talks">
    <div class="panel-heading">
      <h2 class="panel-title">Talks with no start time and/or room</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Speaker</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Start Time</th>
          <th>Room</th>
        </tr>
      </thead>
      <tbody>
        <tr class="unscheduled_talk">
          <td><a class="uri" href="/speakers/"><span class="name">Name</span><span class="nickname"> (NickName)</span></a></td>
          <td><a class="title" href="/talks/">Title</a></td>
          <td><span class="duration">XX</span> min</td>
          <td class="start_time"></td>
          <td class="room"></td>
        </tr>
      </tbody>
    </table>
  </div>
