<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Talks Schedule Overview</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Dates</th><th>Location</th><th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mon 19th - Tue 20th October 2015</td>
          <td>Amerikahaus</td>
          <td>Two days of training Perl::Dancer training</td>
        </tr>
        <tr>
          <td>Wed 21st - Thu 22nd October 2015</td>
          <td>Hotel Schani Wien</td>
          <td>Perl Dancer Conference 2015</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <ul class="nav nav-tabs nav_days" role="tablist">
      <li role="presentation" class="nav_day"><a href="#" aria-controls="" role="tab" data-toggle="tab">Day</a></li>
    </ul>
  </div>

  <div class="panel panel-primary talks">
    <div class="panel-heading">
      <h3 class="panel-title">day</h3>
      <span class="date">date</span>
    </div>
    <div class="panel-body scheduled-talk">
      <div class="row">
        <div class="col-sm-3">
          <div>
            <i class="fa fa-clock-o"></i> <span class="duration_display">when</span>
          </div>
          <div class="session-info session-location">
            <i class="fa fa-location-arrow"></i> <span class="location">where</span>
          </div>
          <div>
            <i class="fa fa-user" ></i> <a class="speaker-link" href="/speakers/" >Speaker Name</a>
          </div>
        </div>
        <div class="col-sm-1">
          <a class="photo-link" href="/speakers/" ><img class="img-responsive img-rounded photo"></a>
        </div>
        <div class="col-sm-8">
          <h4><a class="talk-link" href="/talks/">Talk Title</a></h4>
          <div class="short_abstract">Short extract from abstract</div>
        </div>
      </div>
    </div>
  </div>
</div>
