  <div class="row">
    <div class="col-md-4">
      <div>
        <img class="photo img-responsive" src="/img/people/peter-mottram.jpg">
      </div>                
    </div>
    <div class="col-md-8">
      <h4 class="name"></h4>
      <div>
      <table class="table">
        <tbody>
          <tr class="has_nickname"><th scope="row">Nickname</th><td class="nickname"</td></tr>
          <tr class="has_company"><th scope="row">Company</th><td class="company"</td></tr>
          <tr class="has_city"><th scope="row">City</th><td class="city"</td></tr>
          <tr class="has_country"><th scope="row">Country</th><td class="country"</td></tr>
          <tr class="has_bio"><th scope="row">Biography</th><td class="bio"</td></tr>
          <tr class="has_pause_id"><th scope="row">PAUSE id</th><td><a class="pause_id" href="https://metacpan.org/author/" target="_blank"></a></td></tr>
          <tr class="has_monger_groups"><th scope="row">Monger groups</th><td class="monger_groups">Group.pm</td></tr>
        </tbody>
      </table>
      </div>

      <h4 class="has_talks">Talks by <span class="name">Andrew Solomon</span></h4>
      <div class="panel panel-primary talks">
        <div class="panel-heading">
          <h4 class="panel-title"><span class="show-stars"><span class="remove_talk"><a href="/talks/remove/" class="picked"><img src="/img/picked.gif" title="remove from personal schedule"></a></span><span class="add_talk"><a href="/talks/add/" class="unpicked"><img src="/img/unpicked.gif" title="add to personal schedule"></a></span> </span><a class="talk-link" href="/talks/">Web Development using Dancer</a></h4>
        </div>
        <div class="panel-body">
          <div class="session-info">
            <div class="row">
              <div class="col-sm-4">
                <div>
                  <i class="fa fa-clock-o" ></i> <span class="start_time"></span> <span class="duration_display">09:00 - 13:00</span>
                </div>
                <div>
                  <i class="fa fa-location-arrow"></i> <span class="location">Location</span>
                </div>
              </div>
              <div class="col-sm-8 short_abstract">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
