<div class="container">
  
  <h2>Why sponsor?</h2>

  <p>Sponsor the Perl::Dancer conference to get a real community audience for Perl and Dancer related topics and present your company or association.</p>

  <p>Apart from the sponsorship benefits, you will get in touch with community directly and meet the developers in person. Below we have outlined a few sponsorship options but we are open to additional custom proposals. This is a wonderful opportunity for your business to cost effectively target a very specific and technical market group. Contact us today and let one of our team members work out an effective plan perfect for any budget.</p>

  <p>Sponsor request by email: <a href="mailto:2015@perl.dance">2015@perl.dance</a></p>
</div>
