<form class="form" action="/survey" method="post">
<input type="hidden" class="survey_id" name="survey_id">

<div class="no-surveys">
  <p class="lead no_surveys_txt">You have no surveys to complete at this time</a>
</div>

<div class="survey-list">
  <p><strong>We respect your privacy and so:</strong></p>
  <ul>
    <li>Talk reviews are sent to the presenter of the talk but presenters do not receive any details about who submitted the review.</li>
    <li>Talk reviews will never be made public in any way.</li>
    <li>Results of main conference survey will be aggregated and made public at a later date. Any personally identifying information will be removed before aggregated results are made public.</li>
  </ul>

  <p>Please do <strong>not</strong> feel obliged to complete all surveys. We would really like you to complete as many as possible and the talk reviews are very short but we understand that your time is valuable. At the same time the more surveys and reviews that are completed the more chance we will have to deliver an even better conference next year.</p>

  <p>The speakers really value feedback on their talks, so if you can complete as many as you can, at least those that you remember well, they would really appreciate it.</p>

  <p>Thanks again for your support.</p>

  <p><strong>NOTE:</strong> surveys will close at the end of November so please complete them ASAP.</p>

  <ul>
    <li class="survey"><a class="title" href="/surveys/">Survey title</span></li>
  </ul>
</form>
