<form class="form" action="/survey" method="post">
<input type="hidden" class="survey_id" name="survey_id">

<div class="survey">
  <h2 class="title">Section Name</h2>
  <p class="description">Explanatory text</p>
  <div class="panel panel-default question">
    <div class="panel-heading title">
      Question/title
    </div>
    <div class="panel-body">
      <span class="description">Additional text</span>

      <div class="radio-buttons">
        <div class="form-group option">
          <div class="radio">
            <label>
              <input class="value" type="radio" name="" value="">
              <span class="title">Option name</span>
            </label>
          </div>
        </div>
      </div>

      <div class="option-other">
        <span class="other">replacement text goes here</span>:
        <textarea class="form-control othername" name="" rows="3"></textarea>
      </div>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
