<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div>
        <a class="photo-link" href="/speakers/"><img class="photo img-responsive img-rounded"></a>
      </div>
      <div class="text-right talk-info session-info">
        <div>
          <i class="fa fa-calendar" ></i> <span class="date">19 Oct 2015</span>
        </div>
        <div>
          <i class="fa fa-clock-o"></i> <span class="duration_display">09:00 - 13:00</span>
        </div>
        <div class="session-location">
          <i class="fa fa-location-arrow"></i> <span class="location">Location</span>
        </div>
        <div>
          <i class="fa fa-user" ></i> <a class="speaker-link" href="/speakers/">Andrew Solomon</a>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <h4 class="page-title">Web Development using Dancer</h4>
      <div class="abstract">
        Abstract appears here.
      </div>
    </div>
  </div>
</div>
