  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
      Showing <span class="count">X<span> of <span class="total_users">Y</span> total users.
    </div>
    <div id="usermap"></div>
  </div>
</div>
<div id="user-list" class="hidden">
  <div class="user"><span class="latitude"></span><span class="longitude"></span><span class="html"><a class="link" href="/users/"><span class="name"></span><span class="nickname"> (NickName)</span></a><br><img class="photo" src=""></span></div>
