<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div id="usermap"></div>
    <div class="panel-footer">
      <div class="has_node">
        Last modified: <span class="created">date + time</span> by <a class="user_link" href="/users/"><span class="author_name">author</span> <span class="nickname">(NickName)</span></a>
      </div>
      <div>
        <a href="/wiki">Home</a> | <a class="edit" href="/wiki/edit/">Edit this page</a> | <a href="/wiki/tags">Tags</a> | <a href="/wiki/recent">Recent changes</a> <span class="has_history">| <a class="history" href="/wiki/history/">History</a></span>
      </div>
    </div>
  </div>
</div>
<div id="user-list" class="hidden">
  <div class="user"><span class="latitude"></span><span class="longitude"></span><span class="html"><span class="name"></span></span></div>
</div>
