<div class="row">
  <div class="col-sm-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <div class="has_node">
        <div class="content">
        </div>
      </div>
      <div class="no_node">
        new page
      </div>
    </div>
    <div class="panel-footer">
      <div class="has_node">
        Last modified: <span class="created">date + time</span> by <a class="user_link" href="/users/"><span class="author_name">author</span> <span class="nickname">(NickName)</span></a>
      </div>
      <div>
        <a href="/wiki">Home</a> | <a class="edit" href="/wiki/edit/">Edit this page</a> | <a href="/wiki/tags">Tags</a> | <a href="/wiki/recent">Recent changes</a> <span class="has_history">| <a class="history" href="/wiki/history/">History</a></span>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-3 wiki-toc"></div>
</div>
