html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 90px;
  font-family: "Montserrat";
  margin-bottom: 80px;
}
#navbar a {
  text-transform: uppercase;
  color: #343434;
  text-decoration: none;
}
.scheduled-talk a {
  color: #343434;
}
a:focus, a:hover {
  text-decoration: none;
  color: #0749bc;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Sans-Serif;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 18px;
}
.news-container h4 {
  margin-bottom: 2px;
}
/* nav */
#navbar a {
  font-family: "Raleway", Sans-Serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 10px;
}
#navbar ul:hover li>a {
  border-bottom: 0px;
}
#navbar>ul>li:hover>a {
  color: #0749bc;
  border-bottom: 3px solid #0749bc;
}
.normal {
  height: 75px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
  border-width: 0px;
}
.normal .navbar-right {
  padding-top: 12px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar-brand img {
  max-height: 75px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar-brand {
  padding: 10px !important;
}
.shrink .navbar-brand {
  padding: 5px 0 5px 10px !important;
}
.shrink {
  height: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  background-color: #f5f5f5;
  border-width: 0px;
}
.shrink .navbar-right {
  padding-top: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.shrink .navbar-brand img {
  max-height: 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 765px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 24px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
  }
  .normal .navbar-right, .shrink .navbar-right {
    padding-top: 0px;
  }
  .shrink .navbar-collapse {
    margin-top: 0px;
    border-top: 0px;
  }
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  color: #5b5b5b;
  background-color: #212121;
  padding: 20px 0;
  margin-top: 20px;
  width: 100%;
}
.footer>.container {
}
/* homepage */
h3 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 4px;
}
h4.speaker-title {
  margin-bottom: 5px;
}
h4.subscribe {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 20px 0;
}
/* amerikahaus map */
#map {
  height:400px;
}
#wgmpmap, #confmap {
  width:100%;
  height:200px;
}
#wgmpmap img, #confmap img {max-width: none;}
/* title wrapper */
.title-wrapper {
  background-image: url("/img/meliavienna-carrusel51.jpg");
  color: #ffffff;
}
.title-wrapper h1 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 5px;
}
.page-caption {
    font-size: 19px;
    font-style: italic;
}
/* speakers */
.speaker-row {
  padding: 20px 0;
  text-align: center;
  color: #707070;
  font-style: italic;
}
.speaker-row a {
  color: #343434;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
}
/* speaker */
.panel-body .session-info {
  padding: 0 0;
}
/* misc */
.panel-primary {
  border-color: #0069af
}
.btn-primary, .panel-primary>.panel-heading {
  background-color: #0069af;
}
.panel-primary>.panel-body {
  border-bottom: 1px solid #0069af;
}
.spacing-top-small {
  margin-top: 10px !important;
}
.spacing-bottom-small {
  margin-bottom: 10px !important;
}
/* talk */
.session-info {
  color: #8b8b8b;
  padding: 20px 0;
}
/* countdown */
.countdown-timer {
  margin: 20px 0;
}
.countdown-timer .session-counter-block {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px;
  min-width: 90px;
  padding: 30px;
  text-align: center;
}
.countdown-timer .session-counter-block.block-day {
  opacity: 0.95;
}
.countdown-timer .session-counter-block.block-hrs {
  opacity: 0.85;
}
.countdown-timer .session-counter-block.block-min {
  opacity: 0.75;
}
.countdown-timer .session-counter-block.block-sec {
  opacity: 0.65;
}
.countdown-timer .gdlr-time {
  display: block;
  font-size: 51px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
  min-width: 90px;
}
/* 404 */
.page-not-found-block {
  color: #ffffff;
}
.page-not-found-block {
  background-color: #d65938;
}
.page-not-found-block {
  margin: 50px 0;
  padding: 50px 50px 60px;
  text-align: center;
}
.page-not-found-block .page-not-found-icon {
  font-size: 89px;
  line-height: 1;
  margin-bottom: 20px;
}
.page-not-found-block .page-not-found-title {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 17px;
}
.page-not-found-block .page-not-found-caption {
  font-size: 20px;
  margin-bottom: 35px;
}
/* tickets */
.tickets-container {
  margin: 0 15px 20px;
}
.ticket-header {
  background-color: #e9e9e9;
  padding: 32px 20px 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.ticket-header .short_description {
  font-size: 19px;
  margin-bottom: 10px;
}
.ticket-header .price {
  color: #0045bc;
  font-size: 16px;
}
.ticket-content {
  color: #8b8b8b;
  background-color: #f9f9f9;
  padding: 35px 20px 25px;
  font-family: "Droid Serif";
}
.tickets-container .btn {
  width: 100%;
  font-weight: bold;
  padding: 15px 0;
  text-transform: uppercase;
}
.tickets-container .btn:hover {
  color: black;
}
/* cart */
.product a.name {
  color: #343434;
}
/* tag cloud */
#tagcloud {
    text-align: center;
    line-height: 1;
}
#tagcloud a {
    padding: 2px 8px;
}
span.tagcloud0 { font-size: 12px;}
span.tagcloud0 a {text-decoration: none;}
span.tagcloud1 { font-size: 13px;}
span.tagcloud1 a {text-decoration: none;}
span.tagcloud2 { font-size: 14px;}
span.tagcloud2 a {text-decoration: none;}
span.tagcloud3 { font-size: 15px;}
span.tagcloud3 a {text-decoration: none;}
span.tagcloud4 { font-size: 16px;}
span.tagcloud4 a {text-decoration: none;}
span.tagcloud5 { font-size: 17px;}
span.tagcloud5 a {text-decoration: none;}
span.tagcloud6 { font-size: 18px;}
span.tagcloud6 a {text-decoration: none;}
span.tagcloud7 { font-size: 19px;}
span.tagcloud7 a {text-decoration: none;}
span.tagcloud8 { font-size: 20px;}
span.tagcloud8 a {text-decoration: none;}
span.tagcloud9 { font-size: 21px;}
span.tagcloud9 a {text-decoration: none;}
span.tagcloud10 { font-size: 22px;}
span.tagcloud10 a {text-decoration: none;}
span.tagcloud11 { font-size: 23px;}
span.tagcloud11 a {text-decoration: none;}
span.tagcloud12 { font-size: 24px;}
span.tagcloud12 a {text-decoration: none;}
span.tagcloud13 { font-size: 25px;}
span.tagcloud13 a {text-decoration: none;}
span.tagcloud14 { font-size: 26px;}
span.tagcloud14 a {text-decoration: none;}
span.tagcloud15 { font-size: 27px;}
span.tagcloud15 a {text-decoration: none;}
span.tagcloud16 { font-size: 28px;}
span.tagcloud16 a {text-decoration: none;}
span.tagcloud17 { font-size: 29px;}
span.tagcloud17 a {text-decoration: none;}
span.tagcloud18 { font-size: 30px;}
span.tagcloud18 a {text-decoration: none;}
span.tagcloud19 { font-size: 31px;}
span.tagcloud19 a {text-decoration: none;}
span.tagcloud20 { font-size: 32px;}
span.tagcloud20 a {text-decoration: none;}
span.tagcloud21 { font-size: 33px;}
span.tagcloud21 a {text-decoration: none;}
span.tagcloud22 { font-size: 34px;}
span.tagcloud22 a {text-decoration: none;}
span.tagcloud23 { font-size: 35px;}
span.tagcloud23 a {text-decoration: none;}
span.tagcloud24 { font-size: 36px;}
span.tagcloud24 a {text-decoration: none;}
