<div class="container">
  <form method="post">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <div class="show_preview">
          <div class="preview well">
          </div>
        </div>
        <textarea class="form-control content" rows="15" name="content"></textarea> 
      </div>
      <div class="panel-footer">
        <div class="form-inline">
          <div class="form-group">
            <label>Tags: </label>
            <input type="text" class="form-control tags" name="tags" placeholder="add tags for this page">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="submit" class="btn btn-default" name="preview" value="1">Preview</button>
          <a class="btn btn-default cancel" href="/wiki/node/">Cancel</a>
          <button type="button" class="btn btn-default" data-toggle="popover" data-content="Wiki pages are formatted using <a target='_blank' href='http://daringfireball.net/projects/markdown/'>Markdown</a> though some tags are scrubbed for safety.<br>For links to other Wiki pages use [wiki:OtherPage] and for links to users use [user:NickName]." data-html="true" data-trigger="focus">Help</button>
        </div>
      </div>
    </div>
  </form>
</div>
