<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">title</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr><th colspan="2">Version</th><th>Modified</th><th>By</th></tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><a class="latest-link" href="/wiki/node/">version</a></td>
            <td class="created">date</td>
            <td><a class="user_link" href="/users/"><span class="author_name">author</span> <span class="nickname">(NickName)</span></a></td>
          </tr>
          <tr class="history">
            <td><a class="vlink link" href="/wiki/version/12/name">version</a></td>
            <td><a class="link" href="/wiki/diff/12/name">diff</a></td>
            <td class="created">date</td>
            <td><a class="user_link" href="/users/"><span class="author_name">author</span> <span class="nickname">(NickName)</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <a href="/wiki">Home</a> | <a href="/wiki/tags">Tags</a>
    </div>
  </div>
</div>
