  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">title</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr><th>Page</th><th>Modified</th><th>By</th></tr>
        </thead>
        <tbody>
          <tr class="change">
            <td><a class="title" href="/wiki/node/">page name</a></td>
            <td class="created">date</td>
            <td><a class="user_link" href="/users/"><span class="author_name">author</span> <span class="nickname">(NickName)</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <form method="post" name="wiki-recent">
        <a href="/wiki">Home</a> | <a href="/wiki/tags">Tags</a> | Changes in last <select class="period" name="period"></select>
      </form>
    </div>
  </div>
