<div class="col-md-6 product-price-and-stock">
  <input type="hidden" name="sku" class="sku" value="">
  <div class="product-price-details">
    <label>Price</label>
    <div class="price-and-discount">
      <div class="price-before">$1890.99</div>
      <div class="discount">
        <span class="label label-warning">-20%</span>
      </div>
    </div>
    <div class="price">$1890.99</div>
  </div>
  <div class="low-stock-alert alert alert-success alert-small">Only <strong><span class="in-stock">2</span> left</strong> in stock, buy before they run out</div>
  <div class="product-availability alert alert-success alert-small">Usually available in 3 to 4 days</div>
</div>
