  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Statistics</h3>
    </div>
    <div class="panel-body">
      <div class="row text-center">
        Click on the various links below to find the corresponding users.
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
          <table class="table">
            <thead>
              <tr><th>Countries</th></tr>
            </thead>
            <tbody>
              <tr class="country">
                <td><a href="/users/search?country=" class="name">Name</a></td>
                <td class="count"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="table">
            <thead>
              <tr><th>Monger Groups</th></tr>
            </thead>
            <tbody>
              <tr class="group">
                <td><a href="/users/search?monger_group=" class="name">Name</a></td>
                <td class="count"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
