<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="title">Perl Dancer Conference 2015 | </title>
    
    <!--link rel="pingback" href="/xmlrpc.php" /-->
    <!--link rel="alternate" type="application/rss+xml" title="Perl Dancer Conference 2015 &raquo; Feed" href="/?feed=rss2" /-->
    <!--link rel="alternate" type="application/rss+xml" title="Perl Dancer Conference 2015 &raquo; Comments Feed" href="/?feed=comments-rss2" /-->
    <!--link rel="alternate" type="application/rss+xml" title="Perl Dancer Conference 2015 &raquo; Homepage &#8211; new Comments Feed" href="/?feed=rss2&#038;page_id=3522" /-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900&#038;subset=latin&#038' type='text/css'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;subset=latin&#038' type='text/css'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Droid+Serif%3Aregular%2Citalic%2C700%2C700italic&#038;subset=latin&#038' type='text/css'>
    <link rel='stylesheet' href='/css/google-map.css' type='text/css'>
    <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css'>
    <link rel='stylesheet' href='/css/site.css' type='text/css'>
    <!--link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" /-->
    <!--link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://perl.dance/wp-includes/wlwmanifest.xml" /--> 
    <link rel='canonical' href='http://perl.dance/'>
    <link rel='shortlink' href='http://perl.dance/'>
    <!-- load the script for older ie version -->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <script src="/js/excanvas.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top normal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/perl-dancer-2015-logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="menu-main">
              <a class="link" href="/">Home</a>
              <ul class="dropdown-menu">
                <li class="child-menu"><a class="link" href="/">Submenu</a></li>
              </ul>
            </li>
            <li class="menu-login">
              <a class="link" href="/">Login</a>
              <ul class="dropdown-menu">
                <li class="child-menu"><a class="link" href="/">Submenu</a></li>
              </ul>
            </li>
            <li class="menu-logout">
              <a class="link" href="/">Logout</a>
              <ul class="dropdown-menu">
                <li class="child-menu"><a class="link" href="/">Submenu</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content"></div>
    
    <div class="footer">
      <div class="copyright-container container">
        <div class="copyright-left">
            © Copyright 2015 Interchange Development Group, All Right Reserved
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src='/js/site.js'></script>
    <div class='extra-js'><script class='src' src=''></script></div>
  </body>
</html>
