<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Perl Dancer Conference 2015 | Vienna Austria October 2015</title>
    <meta name="author" content="Interchange6 development team">
    <link rel='canonical' href='http://perl.dance/'>
    <link rel='shortlink' href='http://perl.dance/'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;subset=latin&#038;ver=4.2.2' type='text/css' media='all' />
    <link media="all" type="text/css" href="//fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900&subset=latin&ver=4.2.2" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top normal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/perl-dancer-2015-logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item"><a href="/">Speakers</a></li>
            <li class="menu-item"><a href="/">Schedule</a></li>
            <li class="menu-item"><a href="/">Tickets</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="footer">
      <div class="copyright-container container">
        <div class="copyright-left">
          © Copyright 2015 Informa Studio Ltd. and Interchange Development Group, All Right Reserved
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
  </body>
</html>
