<div class="cart-fragment">
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="product">
      <td><!--img--></td>
      <td>
        <input type="hidden" class="sku" value="SKU">
        <a class="name text-uppercase" href="/">Product name</a>
        <div><a class="remove-sku" href="/cart?remove=SKU">Delete</a></div>
      </td>
      <td><div class="selling_price">0.00</div></td>
      <td>
        <div class="quantity-select hide">
          <select class="form-control quantity">0</select>
        </div>
        <div class="quantity-input hide">
          <input class="form-control quantity" type="text" size="3">
          <div class="quantity-update spacing-top-small hide">
            <button class="quantity-update-button btn btn-small btn-primary">Update</button>
          </div>
        </div>
      </td>
      <td><div class="subtotal">0.00</div></td>
    </tr>
    <!-- not needed for ticket only tr>
      <td colspan="4" class="text-right">Subtotal:</td>
      <td class="cart_subtotal">0.00</td>
    </tr-->
    <tr>
      <td colspan="4" class="text-right">TOTAL:</td>
      <td class="cart_total">0.00</td>
    </tr>
  </tbody>
</table>
    
<div class="text-center">
  <button class="btn btn-primary" href="/profile/talk/create" type="submit">Pay with PayPal</button>
</div>
</div>
