  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="post">
            <div class="form-group login_input">
              <label for="emailInput" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control username" id="emailInput" required placeholder="Email" name="__auth_extensible_username">
              </div>
            </div>
            <div class="form-group login_input">
              <label for="emailPassword" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="emailPassword" required placeholder="Password" name="__auth_extensible_password">
                <div class="help-block login_error"></div>
              </div>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div><a href="/reset_password">Forgot password? Reset here</a></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          New Users Register Here
        </div>
        <div class="panel-body">
          <p>Please enter your email address and hit submit to begin the conference registration process.</p>
          <form class="form-horizontal" action="/register" method="post" name="register-reset">
            <div class="form-group username_input">
              <label for="emailInput" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control register" id="emailInput" placeholder="Email" name="username">
                <div class="help-block username_error"></div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
