<div class="well">
  <h4 class="text-center">Sponsors</h4>
  <div>
    <a href="http://www.informastudio.com/"><img src="/img/informa-logo.png" class="center-block img-responsive"></a>
  </div>
  <div>
    <a href="http://www.linuxia.de/"><img src="/img/linuxia-logo.png" class="center-block img-responsive"></a>
  </div>
  <div>
    <a href="http://www.sysnix.com/"><img src="/img/sysnix-logo-small.png" class="center-block img-responsive"></a>
  </div>
  <h4 class="text-center"><a href="/sponsoring">Become a sponsor</a></h4>
</div>
<div class="well">
  <h4 class="text-center">Partners</h4>
  <div>
  <div>
    <a href="http://perlweekly.com/"><img src="/img/perl-weekly.png" class="center-block img-responsive"></a>
  </div>
</div>
