<div class="well">
  <h4 class="text-center">Sponsors</h4>
  <div>
    <a href="http://www.informastudio.com/"><img src="/img/informa-logo.png" class="center-block img-responsive"></a>
  </div>
  <div>
    <a href="http://www.linuxia.de/"><img src="/img/linuxia-logo.png" class="center-block img-responsive"></a>
  </div>
  <div>
    <h5 class="text-center"><a href="http://www.sysnix.com/">Sysnix Consultants</a></h5>
  </div>
  <h4 class="text-center"><a href="/sponsoring">Become a sponsor</a></h4>
</div>
<div class="well">
  <h4 class="text-center">Partners</h4>
  <div>
  <div>
    <h5 class="text-center"><a href="http://perlweekly.com/">Perl Weekly</a></h5>
  </div>
</div>
