<div class="well">
  <h4 class="text-center"><a href="/sponsoring">Become a sponsor</a></h4>
  <h4 class="text-center">Our Sponsors</h4>
  <span class="company-level-box">
    <h5 class="text-center company-level">Gold Sponsors</h5>
    <div class="text-center company-details">
       <a href="" class="company-link" target="_blank"><img src="/" class="center-block img-responsive company-logo"></a>
     <p class="company-teaser">Visit our grand Foo Center</p>
    </div>
  </span>
</div>

<div class="well">
  <h4 class="text-center">Partners</h4>
  <div>
  <div>
    <a href="http://perlweekly.com/"><img src="/img/perl-weekly.png" class="center-block img-responsive"></a>
  </div>
</div>
