<div class="container">
  <div class="row text-center tickets-container">
    <div class="col-sm-6 tickets">
      <div class="ticket-header">
        <div class="short_description">Ticket name</div>
        <div class="price">0.00</div>
      </div>
      <div class="description ticket-content">Ticket description</div>
      <form action="/cart" method="post">
        <input type="hidden" class="sku" name="sku">
        <!--button type="submit" class="btn btn-primary">Book Now</button-->
        <a href="/register" class="btn btn-primary buy-ticket">Buy Now</a>
      </form>
    </div>
  </div>
</div>
