<div class="container">
  <form class="form-horizontal" method="post" name="update_create_news">
    <input type="hidden" name="messages_id">

    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPublic" class="col-sm-2 control-label">Public</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="public" class="public" value="1">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="public" class="public" value="0">No
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="inputContent" class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
        <textarea rows="5" class="form-control" id="inputContent" name="content" placeholder="Content" required></textarea>
        <span class="help-block">Content should be written in Markdown</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary submit">Submit</button>
      </div>
    </div>

  </form>
</div>
